---

const { name, image,source,from, deposit, totalPrice,discount,display,slug,slugs } = Astro.props;

---




<article class="card">
  <div class="card__img">
    <div class="lebo1"><h4>{discount}</h4></div>

    <div class="lebo2" style={`display: ${display};`}>
      <h4 class="hot" style={`display: ${display};`}>Hot</h4>
    </div>

    <img src={source} alt="" />
  </div>

  <div class="card__name">
    <div class="card__precis">
      <a href="" class="card__icon"><ion-icon name="heart-outline"></ion-icon></a>

      <div class="taginfo">
        <h1 class="phonename">{name}</h1>
        <span class="card__preci card__preci--before">{from}</span>
        <span class="card__preci card__preci--now">{deposit}</span>
      </div>

      <div class="pfon">
        <span class="statusitem">
          <i class="fa fa-check tick-icon"></i>
          In stock
        </span>
      </div>

      <a href="" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
    </div>

    <div class="orderdiv">
 <a href={`/checkout/${slugs}`}>
        <button class="displaybutton">Order Now</button>
      </a>

       <a href={`/products/${slug}`}>
        <button class="displaybutton more-info">More Info</button>
      </a>
      <!-- <p>FREE Delivery <i class="fa fa-check tick-icon"></i></p> -->
    </div>
  </div>
</article>

<style>
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

  :root {
    --first-color: #fdfaf5;
    --accent-color: #b07f31;
    --dark-color: #1c1c1c;
    --body-font: "Open Sans";
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
  }

  @media screen and (min-width: 768px) {
    :root {
      --normal-font-size: 1rem;
      --smaller-font-size: 0.813rem;
    }
  }

  .phonename {
    color: #2a2a2a !important;
    margin-left: 40px;
    position: absolute;
    top: -55%;
    font-size: 18px;
  }

  .taginfo {
    position: relative;
    width: 100%;
  }

  .orderdiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .orderdiv button {
    background: #b07f31;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }

  * {
    box-sizing: border-box;
  }

  .more-info{
    background: wheat!important;
    color: #1c1c1c!important;
  }

  body {
    background-color: #fff;
    color: var(--dark-color);
    font-family: var(--body-font);
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  a {
    text-decoration: none;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem 4rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: var(--first-color);
  }

  .card__img {
    width: 200px;
    padding: 3rem 0;
    transition: transform 0.3s ease;
    height: 300px;
    position: relative;
  }

  .card__img .lebo1 {
    position: absolute;
    top: 60px;
    left: -20px;
    width: 55px;
    height: 20px;
    background: #b07f31;
    border-radius: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .card__img .lebo1 h4 {
    font-size: 13px;
    z-index: 20;
    color: white;
  }

  .card__img .lebo2 h4 {
    font-size: 13px;
    z-index: 20;
    color: white;
    position: absolute;
    top: -18px;
    left: 12px;
  }

  .card__img .lebo2 {
    position: absolute;
    top: 90px;
    left: -20px;
    width: 55px;
    height: 20px;
    background: #8a6431;
    border-radius: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .card__name {
    position: absolute;
    left: 0;
    bottom: -3.6rem;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: var(--smaller-font-size);
    transition: bottom 0.3s ease;
    z-index: 10;
    flex-direction: column;
  }

  .card__name p {
    color: #4caf50;
  }

  .card__icon {
    font-size: 1.5rem;
    color: var(--dark-color);
    transition: color 0.2s ease, transform 0.2s ease;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card__icon:hover {
    color: var(--accent-color);
    transform: scale(1.1);
  }

  .card__precis {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -50px;
    background: white;
  }

  .card__preci {
    display: block;
    text-align: center;
  }

  .card__preci--before {
    font-size: var(--smaller-font-size);
    color: #999;
    margin-bottom: 0.25rem;
    text-decoration: line-through;
    font-weight: bold;
    margin-left: -125px;
    margin-top: 10px;
    font-size: 16px;
  }

  .card__preci--now {
    font-size: var(--h3-font-size);
    font-weight: bold;
    color: var(--accent-color);
    margin-left: -125px;
  }

  .pfon {
    margin-left: 40px;
    color: #2a2a2a;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }

  .card:hover .card__name {
    bottom: 0;
  }

  .card:hover .card__img {
    transform: translateY(-5px);
  }
</style>
